body {
    background-color: rgb(196, 196, 196);
    font-family: 'Roboto', sans-serif;
}

/*Container styling */

.container-wrapper {}

.container-wrapper--red {
    background-color: #f05f40;
    color: white;
}

/* Styles alert container */

.alert-container .col-12 {
    padding-right: 0;
    padding-left: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-color: #eec802;
    border-color: #eec802;
}

.callout-container {
    height: 100vh;
    background: url('../images/whiskey-background.jpg') no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

/* Quotes section styling */

.quotes-container {

}

.quotes .page-header {
    margin-bottom: 25px;
}

/* Page header styling */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

/* Content container */

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Features styling */

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;

}

.feature .btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #f05f40;
}

.features-container {

}


/* Block divider styling */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #2b2b2b;

}

.block-divider--orange {
    background-color: #f05f40;
}

.block-divider--white {
    background-color: white;
}

.block-divider--short {
    width: 35px;
}

/* Navbar container */

.navalert-container {
   position: absolute;
   top: 0;
   left: 0;
   padding-left: 0;
   padding-right: 0;
   z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
}

.navbar-toggler {
    border: none;
}

.navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/* Jumbotron styling */

.jumbotron {
    background-color: transparent;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

.jumbotron .lead {
    margin: 25px 0;
    color: #a7a7a7;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 25px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: red;
    border-color: red;
    transition: all .2s ease-in-out;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
    transform: scale(1.1);
}